.navigationArrows {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.arrowBtn {
    background: transparent;
    color: #fff;
    border: none;
    width: 30px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    pointer-events: auto;
    transition: background 0.3s ease;
}

button {
    min-width: unset;
    padding: 0;
}
